
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="container">
    <h1>20200609-Montana Trip</h1>
    <p><img src="20200609-Montana%20Trip/6f9a2a6e82d83cb8671f8b0b0c69c0a7.jpg" alt="6f9a2a6e82d83cb8671f8b0b0c69c0a7"></p>
    <h1>Montana Trip, Glacier national park</h1>
    <p>With Marzie, Gheysar and Saghar</p>
    <p>Campsites:</p>
    <p><a href="https://goo.gl/maps/a9Q9gvtT8xA1nwiRA">https://goo.gl/maps/a9Q9gvtT8xA1nwiRA</a></p>
    <p><a href="https://goo.gl/maps/gk1f4kHrfewrTcZe8">https://goo.gl/maps/gk1f4kHrfewrTcZe8</a></p>
    <p>Hikes we did:</p>
    <p>Day 1: </p>
    <p><a href="https://www.alltrails.com/trail/us/montana/mt-brown-lookout-trail">https://www.alltrails.com/trail/us/montana/mt-brown-lookout-trail</a></p>
    <p>Short and easy hike, foggy, no view</p>
    <p>Saw bear footprints</p>
    <p>Mountain goat followed us</p>
    <p>Day 2:</p>
    <p><a href="https://www.alltrails.com/trail/us/montana/mt-aeneas-summit-trail--2">https://www.alltrails.com/trail/us/montana/mt-aeneas-summit-trail--2</a></p>
    <p>Lots of mountain goats, short and steep hike, very fun, view was great, addition 0.5 mile because of road closure. Lots of snow</p>
    <p>Day 3:</p>
    <p><a href="https://www.alltrails.com/trail/us/montana/gable-pass-trail-via-otatso-creek?p=-1">https://www.alltrails.com/trail/us/montana/gable-pass-trail-via-otatso-creek?p=-1</a></p>
    <p>Slept on the road side right by the border (probably illegal), campsites were closed due to covid, Parked by the road in the morning (illegal) and did 20 miles of this hike, had to get a permit for passing native american lands but we didn't, Astonishing view, totally worth it, the road to trailhead was sketchy, got a flat tire when I was going back.</p>
    <p>Day 4:</p>
    <p>Drive back to Seattle and stop in Idaho for some waterfalls</p>
  </div>
{% endblock %}