
{% extends "base.html" %}

{% block title %}Memorial Weekend with Marzi{% endblock %}

{% block content %}
  <div class="container">
    <div class="article-header">
      <h1>Memorial Weekend with Marzi</h1>
      <p class="subtitle">May 2021</p>
    </div>

    <div class="article-body">
      <p>Weather wasn't good so we ended up climbing in vantage</p>
      <p>Here are the walls we tried:</p>
      <p>Sunshine wall, King pins, Twin crack, Red velvet, powerhouse area</p>
      <p>the routes are pretty different and very fun</p>
      <p>It got real warm when it was sunny but thanks to heavy winds the clouds came and go</p>
      <p>camped by the road near frenchman coulee</p>
      <p>------</p>

      <h3>Mount Hood Summit</h3>
      <p>Summitted Hood on Sunday</p>
      <p>The weather was perfect (58-32). Slept for two hours in the parking lot (timberlodge), started hiking up 1:20 am, wore crampons pretty much from the beginning, it gets steeper and steeper and by the time we reached the sulphur part it was the steepest. Ice fall is real and helmet is a must. Someone dies near the summit in the same day we were there. We got to the summit by 6:20, started hiking down by 6:50, reached the car by 9:30. </p>
      <p>It got real crowded when we were close to the summit. There were lines and lines of people. We were lucky to be among the first ones to summit! </p>
      <p><a href="https://www.alltrails.com/trail/us/oregon/mount-hood-from-timberline">Mount Hood from Timberline on AllTrails</a></p>
      <p>Options for climbing:</p>
      <p>Vantage</p>
      <p>Smith rocks </p>
      <p>Other places are rainy</p>
      <p>Options for hiking:</p>
      <p>Mount Ellinor</p>
      <p>Mount Adams</p>
      <p>Mount Hood</p>
      <p>Icicle Ridge</p>
    </div>
  </div>
{% endblock %}
