
{% extends "base.html" %}

{% block title %}Mount Angeles Ski Touring{% endblock %}

{% block content %}
  <div class="container">
    <div class="article-header">
      <h1>Mount Angeles Ski Touring</h1>
      <p class="subtitle">May 2021 &middot; With Jerry, Jordan, Kirk</p>
    </div>

    <div class="article-body">
      <p>Mount Angeles Ski touring with Kitsap branch</p>
      <p>On the up we needed ski crampon and for the last 0.5 mile we took out our skis and wore crampon on ski boots. Took us no time to get down :)</p>
      <p><a href="https://www.gaiagps.com/datasummary/folder/1c20d54b-d1b8-41d5-a79c-37acdef1d7d6/?layer=GaiaTopoRasterFeet">View GPS Track on Gaia</a></p>
    </div>
  </div>
{% endblock %}
