
{% extends "base.html" %}

{% block title %}Mount Rainier via DC{% endblock %}

{% block content %}
  <div class="container">
    <div class="article-header">
      <h1>Mount Rainier via DC</h1>
      <p class="subtitle">July 2021</p>
    </div>

    <div class="article-body">
      <p>Start 9:15</p>
      <p>Camp muir 14:15</p>
      <p>Parking at Paradise was full by 8:30 but overnight camps had plenty of space</p>
      <p>A couple of guided trips but overall mountain is not too crowded. </p>
      <p>Many people said there was a congestion by the ladder and recommended we leave before them (which is 11:30 now apparently)</p>
      <p>Wake up 11:15</p>
      <p>Start 12</p>
      <p>Done with cowlitz 12:35</p>
      <p>Take crampons off</p>
      <p>12000 feet at 3:30</p>
      <p>turned around on DC because of a team member severe fatigue and altitude sickness</p>
      <p>the cleaver was had to navigate but well-marked for most parts</p>
      <p>the crevasses are wide open</p>
      <p>6:30 at camp</p>
      <p>started going down at 9:30</p>
      <p>12:30 at base, did a lot of glissading</p>
    </div>
  </div>
{% endblock %}
