
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="container">
    <h1>20210522-Vahalla Peak and 5050 pass</h1>
    <p>The plan was to do mount adams with Meryl and her crew to get prepared for our shasta trip in two weeks. but that got cancelled due to weather. Now we are doing 5050 pass and vahalla peak in a 1-day trip.</p>
    <p><a href="https://www.mountaineers.org/activities/activities/alpine-scramble-5-050-pass-from-dosewallips-road">https://www.mountaineers.org/activities/activities/alpine-scramble-5-050-pass-from-dosewallips-road</a></p>
    <p>Meryl, Nathan, Jin, Hamed and me</p>
    <p>We did it, 8 miles and 4800ft elevation gain in only 3.5 miles!</p>
    <p>started early from Seattle (4:45am)</p>
    <p>Got to trailhead (7am)</p>
    <p>started 8:30am, summit at 1pm</p>
    <p>started heading down 2:30pm</p>
    <p>by the car at 6pm</p>
    <p>Took the ferry back and was back at home at 9pm</p>
    <p>https://www.wta.org/go-hiking/trip-reports/trip_report.2019-03-17.8777033960</p>
    <p><img src="20210522-Vahalla%20Peak%20and%205050%20pass/841ba950bc35442a570f3b3b282c8dc0.jpg" alt="841ba950bc35442a570f3b3b282c8dc0"></p>
    <p><img src="20210522-Vahalla%20Peak%20and%205050%20pass/1b5b5f78e538061183f3b34e96404a19.jpg" alt="1b5b5f78e538061183f3b34e96404a19"></p>
    <p><img src="20210522-Vahalla%20Peak%20and%205050%20pass/d1feca2cd6ffdabc6f0d13b6cdfcfec5.jpg" alt="d1feca2cd6ffdabc6f0d13b6cdfcfec5"></p>
  </div>
{% endblock %}