
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="container">
    <h1>20210501-Mount Angeles Ski Touring</h1>
    <p>Mount Angeles Ski touring with Kitsap branch</p>
    <p>Jerry, Jordan, Kirk and me</p>
    <p>On the up we needed ski crampon and for the last 0.5 mile we took out our skis and wore crampon on ski boots. Took us no time to get down :)</p>
    <p><a href="https://www.gaiagps.com/datasummary/folder/1c20d54b-d1b8-41d5-a79c-37acdef1d7d6/?layer=GaiaTopoRasterFeet">https://www.gaiagps.com/datasummary/folder/1c20d54b-d1b8-41d5-a79c-37acdef1d7d6/?layer=GaiaTopoRasterFeet</a></p>
  </div>
{% endblock %}