{% extends "base.html" %}

{% block title %}Greece - September 2025{% endblock %}

{% block content %}
  <div class="container">
    <div class="article-header">
      <h1>Greece</h1>
      <p class="subtitle">August 31 &ndash; September 6, 2025</p>
    </div>

    <div class="article-body">
      <h3>Aug 31</h3>
      <p>We got really amazing pastries at this café</p>
      <p><a href="https://maps.app.goo.gl/wTZHk6xKpeFQaTSy8?g_st=ipc">Café location</a></p>

      <p>Then did a walking tour with this place</p>
      <p><a href="https://maps.app.goo.gl/K388WpepxUJGnuLE7?g_st=ipc">Walking tour company</a></p>

      <p>Should go inside the stadium pop</p>
      <p><a href="https://maps.app.goo.gl/mFLx4HvFFaZWSd3C9?g_st=ipc">Stadium location</a></p>

      <p>Tour was great! Got lunch here</p>
      <p><a href="https://maps.app.goo.gl/7cj1wJ6M71tsgpLy8?g_st=ipc">Lunch restaurant</a></p>
      <p>Moussaka is great!!!</p>

      <p>Not a big fan of ouzo</p>

      <p>After lunch visited agora</p>
      <p><a href="https://maps.app.goo.gl/hDa7A157mZqpCK7A7?g_st=ipc">Ancient Agora location</a></p>
      <p>And the temple inside - beautiful!</p>
      <p>Best paired with Rick Steves audio tour</p>

      <p>Book ticket in advance for acropolis</p>
      <p>Acropolis is soooooo good!</p>
      <p>Took us one hour with Rick's tour. Definitely go in line half an hour early. They open fifteen minutes before</p>

      <p>Then got tsipouro at a rooftop bar. Similar to vodka</p>

      <p>Psyri - really really cool neighborhood with awesome cafes and restaurants</p>
      <p>Little cook - too much</p>
      <p>Got dessert here</p>
      <p><a href="https://maps.app.goo.gl/RBSE84Kk1mcFTDrBA?g_st=ipc">Dessert place</a></p>

      <h3>Sep 1</h3>
      <p>Rented a car from airport</p>
      <p>Took subway to train. 9 euro per person. Stopped a lot</p>

      <p>Driving is kinda crazy. Speed limit is just a concept</p>

      <p>Drove to Delphi</p>
      <p><a href="https://maps.app.goo.gl/RKJRK2DUtK4eKiBt6?g_st=ipc">Delphi location</a></p>
      <p>Museum and archaeological site were amazing. One ticket for both. Took us 2.5 hours</p>

      <p>Lunch at</p>
      <p><a href="https://maps.app.goo.gl/h5qYZFka3nT6JBva8?g_st=ipc">Delphi restaurant</a></p>
      <p>View is AMAZING!</p>

      <p><a href="https://maps.app.goo.gl/w8pxkG2VcogMdFTb6?g_st=ipc">Coffee place</a></p>
      <p>We got coffee at this place and it was amazing - great foam</p>

      <p>Then drove to Meteora</p>

      <p>Did two hikes, one to Varlaam and the dragon cave</p>
      <p><a href="https://maps.app.goo.gl/Joi6zMhFQJxaNpw7A?g_st=ipc">Varlaam/Dragon cave location</a></p>

      <p>The other to holy boulder and monk prison</p>

      <p>Really really fun and because it was after closing time we had it all to ourselves</p>

      <p>Then watched sunset at main observation deck</p>
      <p><a href="https://maps.app.goo.gl/EjKTjn8aczTmn6cEA?g_st=ipc">Sunset viewpoint</a></p>

      <p>Dinner at Meteora Family Restaurant and it was great</p>
      <p><a href="https://maps.app.goo.gl/exmxxYQBeVvRxx3CA?g_st=ipc">Meteora Family Restaurant</a></p>

      <h3>Sep 2</h3>
      <p>Did a tour with Airbnb with Vasileios</p>
      <p>Sooo fun</p>
      <p>Learned a lot about history of Greece and Meteora and saw the old hermit caves and first monastery</p>

      <p>Lunch at this place also great - Valia Calda</p>
      <p><a href="https://maps.app.goo.gl/62Noyeykd4qRmfW49?g_st=ipc">Valia Calda restaurant</a></p>

      <p>Great Holy Monastery was closed so we visited Varlaam instead. 5 euro to get in. Men need long pants, women a skirt or borrow a scarf from them</p>

      <p>Drive back was kinda insane. Driving downtown is not made for everyone. Unless you have a Middle Eastern driver, just get the car from the airport.</p>

      <p>Got dinner at this place. One of the best meals we've had</p>
      <p><a href="https://maps.app.goo.gl/gQUpaveZFsSGEVxw5?g_st=ic">Amazing dinner restaurant</a></p>

      <h3>Sep 3</h3>
      <p>Went to ferry terminal. So here is the deal:</p>
      <p>Seajet: expensive, small, fast, choppy - 3.5 hours to Naxos</p>
      <p>Blue Star: cheaper but not so much, really big, takes forever, less choppy - 5.5 hours</p>
      <p>Plane: 45 min, costs a little more. If it's windy might be your best bet</p>

      <p>We stayed at Anthony Suites at the spa room. Really cool.</p>

      <p>Lunch at Mezze 2. Food is good</p>

      <p>Walked to the castle and cathedral. Definitely get drinks at Avaton. The bar is older than the country USA!</p>

      <p>Then nap to recover from ferry</p>

      <p>We went to Elliniko to get dinner but it was packed so instead we went to another restaurant close by which was okay.</p>

      <h3>Sep 4</h3>
      <p>Got bikes at Bike Naxos and rode bikes to Blue Fin Diving. It was great. We saw octopus and many fish.</p>

      <p>Too hot! Everywhere. Got dinner at Elliniko (got there early so we got a table immediately). Food was good but nothing extra.</p>

      <p>Then Apollo saw the sunset. Many proposals. Crowded but worth it. Everyone is too dressed up. We looked super out of place</p>

      <p>Then ice cream at Waffle House. Honestly one of the best ice creams we have ever had! Really good.</p>

      <h3>Sep 5</h3>
      <p>Got the ferry back. Took them literally 6 min to get 100 people and cars off the boat and load another 100 in. Overall we got delayed by an hour though because of waves. Super shaky and we were kinda dead.</p>

      <p>Did a food tour. Super disappointing. Really good reviews but not worth it at all. It was kind of a torture.</p>

      <h3>Sep 6</h3>
      <p>Wow Kiana is born!</p>
      <p>Put our bags in luggage storage. I worked a bit and then we walked to Archaeological Museum. It's meh!</p>

      <p>Then got some food and shopping and headed back to the airport.</p>
    </div>
  </div>
{% endblock %}
