
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="container">
    
      <!-- <p><img src="static/Home/25605063cb2dd0c41e1c1381d2cb5579.jpg" alt="25605063cb2dd0c41e1c1381d2cb5579"></p> -->
      <h1>Kiana Travels</h1>
      <!-- <p><img src="https://www.gstatic.com/images/icons/material/product/1x/sheets_32dp.png" alt="sheets_32dp">Climbing Records for Kiana (Responses)</p> -->
      <p>Keeping track of trips, travels and things I have done</p>
      <!-- <p><img src="static/Home/42e88c3b8fe9c66d456e4b58461867ab.jpg" alt="42e88c3b8fe9c66d456e4b58461867ab"></p>
      <p><img src="static/Home/4f742f136bebc000913d7f7fa4691df1.jpg" alt="4f742f136bebc000913d7f7fa4691df1"></p>
      <p><a href="https://www.google.com/url?q=https%3A%2F%2Fsites.google.com%2Fview%2Fkiana-nevesht%2Ftrips%2F2020%3Fauthuser%3D0&amp;sa=D&amp;sntz=1&amp;usg=AOvVaw0zMj1OWjlLGnTyV6tChYDJ">Kiana Nevesht - 2020</a></p>
      <p><a href="https://www.google.com/url?q=https%3A%2F%2Fsites.google.com%2Fview%2Fkiana-nevesht%2Ftrips%2F2021%3Fauthuser%3D0&amp;sa=D&amp;sntz=1&amp;usg=AOvVaw1cITmSJ9RJX2tAUTgtRSAD">Kiana Nevesht - 2021</a></p> -->
      <p></p>
    
  </div>
{% endblock %}