{% extends "base.html" %}

{% block title %}Mexico City{% endblock %}

{% block content %}
<div class="container">
  <div class="article-header">
    <h1>Mexico City</h1>
    <p class="subtitle">December 27 &ndash; 31, 2023</p>
  </div>

  <div class="article-body">
    <p>Map of all the days:</p>
    <p><a href="https://www.google.com/maps/d/u/0/edit?mid=1IKGe49ywYUjlA0l2F46fJew6CmO5V5U&amp;usp=sharing">Google Maps collection</a></p>

    <h3>Dec 27</h3>
    <p>We started by getting coffee and pastry in a local shop (15 bucks total)</p>
    <p>Then walked to the market but people hadn't shown up yet (10:30am)</p>
    <p><a href="https://maps.app.goo.gl/F29n8twmCstZi9Jq5">Market location</a></p>
    <p>Visited templo mayor, fascinating ruins</p>
    <p><a href="https://maps.app.goo.gl/k3V66qj1YmYMTQGG8">Templo Mayor</a></p>
    <p>Cathedral is huge and worth the visit (biggest cathedral in Mexico and might not exist in a few years)</p>
    <p><a href="https://maps.app.goo.gl/veVWw2rbfRqceHbn6">Cathedral</a></p>
    <p>Got a walking tour, highly recommended</p>
    <p>Walking Tour in Mexico City - The Best Introduction</p>
    <p> Mexico City  Duration: 2h and 30min  Languages: English, Spanish</p>
    <p>Guru: Kactus</p>
    <p>Kactus Free Walking Tour</p>
    <p>55 4375 4436</p>
    <p><a href="https://g.co/kgs/aXWYgM">Kactus Walking Tour</a></p>
    <p>Dinner at street food taco</p>
    <p><a href="https://maps.app.goo.gl/J6d73WQb6xfppen26">Taco spot</a></p>

    <h3>Dec 28</h3>
    <p>Did the Frida bike tour (biking around coyocuan) and had some drinks and snacks. Really fun</p>
    <p>Frida VIP-skip the line+Bikes&amp;Churros</p>
    <p>4.97 (3607) Mexico City, Mexico</p>
    <p>Experience hosted by Lola Y Diego Joaquin</p>
    <p>Via Airbnb</p>
    <p>The museum is very biased. Definitely get a tour for hearing Frida's real story.</p>
    <p>Went to meroma at 3:30pm and they sat us immediately! No reservation needed.</p>
    <p>Drinks in Limantour, not that good honestly</p>
    <p>Speakeasy bar 686 - really good drinks</p>
    <p>Some street tacos to finish the night </p>

    <h3>Dec 29</h3>
    <p>Woke up at 4 and got on the bus at 5,</p>
    <p>Hot air balloon in aerodiverti</p>
    <p><a href="https://maps.app.goo.gl/51KjXDCdZMU7TBHE8">Hot air balloon location</a></p>
    <p>Breakfast in</p>
    <p><a href="https://maps.app.goo.gl/vantfhkBfJ2NAK7L9">Breakfast spot</a></p>
    <p>Part of the tour</p>
    <p>Then Pyramids of Teotihuacan</p>
    <p>At least 2:30 hours</p>
    <p>Lunch/dinner at la zoranza</p>
    <p>Ice cream </p>
    <p>Lucha libre at night.  In arena mexico</p>

    <h3>Dec 30</h3>
    <p>Did full restaurant and markets and food stuff. Contact for recommendations</p>

    <h3>Dec 31</h3>
    <p>We did the anthropology museum. Definitely need a tour in English otherwise the signs are not as good. But I think it's worth a long visit</p>
    <p>New Year's Eve is at angel de la independence and starts at around 10pm</p>

    <div class="contact-links">
      <a href="mailto:ehsanik@gmail.com">Email</a>
      <a href="http://twitter.com/ehsanik">Twitter</a>
      <a href="http://github.com/ehsanik">Github</a>
    </div>
  </div>
</div>
{% endblock %}
