<!-- index.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
  
  <h1>Mexico CityDec 27-31</h1>
  <p>Map of all the days:</p>
  <p><a href="https://www.google.com/maps/d/u/0/edit?mid=1IKGe49ywYUjlA0l2F46fJew6CmO5V5U&amp;usp=sharing">https://www.google.com/maps/d/u/0/edit?mid=1IKGe49ywYUjlA0l2F46fJew6CmO5V5U&amp;usp=sharing</a> </p>
  <p>Dec 27</p>
  <p>We started by getting coffee and pastry in a local shop (15 bucks total)</p>
  <p>Then walked to the market but people hadn't shown up yet (10:30am)</p>
  <p>https://maps.app.goo.gl/F29n8twmCstZi9Jq5</p>
  <p>Visited templo mayor, fascinating ruins</p>
  <p>https://maps.app.goo.gl/k3V66qj1YmYMTQGG8</p>
  <p>Cathedral is huge and worth the visit (biggest cathedral in Mexico and might not exist in a few years)</p>
  <p>https://maps.app.goo.gl/veVWw2rbfRqceHbn6</p>
  <p>Got a walking tour, highly recommended</p>
  <p>Walking Tour in Mexico City - The Best Introduction</p>
  <p> Mexico City  Duration: 2h and 30min  Languages: English, Spanish</p>
  <p>Guru: Kactus</p>
  <p>Kactus Free Walking Tour</p>
  <p>55 4375 4436</p>
  <p> https://g.co/kgs/aXWYgM</p>
  <p>Dinner at street food taco</p>
  <p>https://maps.app.goo.gl/J6d73WQb6xfppen26</p>
  <p>Dec 28</p>
  <p>Did the Frida bike tour (biking around coyocuan) and had some drinks and snacks. Really fun</p>
  <p>Frida VIP-skip the</p>
  <p>line+Bikes&amp;Churros</p>
  <p>4.97 (3607) Mexico City, Mexico</p>
  <p>Experience hosted by Lola Y Diego Joaquin</p>
  <p>Via Airbnb</p>
  <p>The museum is very biased. Definitely get a tour for hearing Frida's real story.</p>
  <p>Went to meroma at 3:30pm and they sat us immediately! No reservation needed.</p>
  <p>Drinks in Limantour, not that good honestly</p>
  <p>Speakeasy bar 686 - really good drinks</p>
  <p>Some street tacos to finish the night </p>
  <p>Dec 29</p>
  <p>Woke up at 4 and got on the bus at 5,</p>
  <p>Hot air balloon in aerodiverti</p>
  <p>https://maps.app.goo.gl/51KjXDCdZMU7TBHE8</p>
  <p>Breakfast in</p>
  <p>https://maps.app.goo.gl/vantfhkBfJ2NAK7L9</p>
  <p>Part of the tour</p>
  <p>Then Pyramids of Teotihuacan</p>
  <p>At least 2:30 hours</p>
  <p>Lunch/dinner at la zoranza</p>
  <p>Ice cream </p>
  <p>Lucha libre at night.  In arena mexico</p>
  <p>Dec 30</p>
  <p>Did full restaurant and markets and food stuff. Contact for recommendations</p>
  <p>Dec 31</p>
  <p>We did the anthropology museum. Definitely need a tour in English otherwise the signs are not as good. But I think it's worth a long visit</p>
  <p>New Year's Eve is at angel de la independence and starts at around 10pm</p>
  <p>[Kiana]   [<a href="mailto:ehsanik@gmail.com">Email:ehsanik@gmail.com</a>]    [<a href="http://twitter.com/ehsanik">Twitter:@ehsanik</a>]   <a href="http://github.com/ehsanik">[Github:@ehsanik]</a></p>
</div>
{% endblock %}