
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="container">
    <h1>Kiana Travels</h1>

    <div class="navbar-container">
      <nav>
        <ul>
            <li><a href="20200609-montana_trip.html">20200609-Montana Trip</a></li>
            <li><a href="20210725_mount_rainier_via_dc.html">20210725-Mount Rainier via DC</a></li>
            <li><a href="20210501_mount_angeles_ski_touring.html">20210501-Mount Angeles Ski Touring</a></li>
            <li><a href="20210514_hojjat_and_friends_in_town.html">20210514-Hojjat and Friends in town</a></li>
            <li><a href="20210522_vahalla_peak_and_5050_pass.html">20210522-Vahalla Peak and 5050 pass</a></li>
            <li><a href="20210527_memorial_weekend_with_marzi.html">20210527-Memorial Weekend with Marzi</a></li>
            <li><a href="20210731_eldorado_peak.html">20210731-Eldorado Peak</a></li>
            <li><a href="20211201_peru.html">20211201-Peru</a></li>
            <li><a href="central_asia.html">Central Asia</a></li>
            <li><a href="europe_the_alps_and_mont_blanc.html">Europe (The Alps!) and Mont Blanc</a></li>
            <li><a href="mexico_city.html">Mexico City</a></li>
            <li><a href="japan_may_2024.html">Japan - May 2024</a></li>
        </ul>
        
      </nav>
    </div>
  </div>
{% endblock %}